<templateSet group="Mybatis/SQL">
  <template name="CD" value="&lt;![CDATA[&#10;$SELECTION$&#10;]]&gt;" description="Surround with CDATA section" toReformat="false" toShortenFQNames="false">
    <context />
  </template>
  <template name="foreach" value=" &lt;foreach item=&quot;item&quot; index=&quot;index&quot; collection=&quot;list&quot; open=&quot;(&quot; separator=&quot;,&quot; close=&quot;)&quot;&gt;&#10;      #{item}&#10;&lt;/foreach&gt;" toReformat="true" toShortenFQNames="true">
    <context>
      <option name="XSL_TEXT" value="true" />
      <option name="XML" value="true" />
      <option name="XML_TEXT" value="true" />
    </context>
  </template>
</templateSet>